/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

/* design system */
:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}
