.filter {
    display: flex;
    align-items: center;
    gap: 0.94rem;
    flex-wrap: wrap;
    margin-bottom: 2.19rem;
    margin: 0 auto;
}

.filter__btn {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.94rem;
}

.filter__btn a {
    border: 2px solid var(--main-gray);
    font-weight: 700;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.filter__btn a:hover {
    background-color: var(--filter-bg-color);
}

.filter__btn a i {
    margin-right: 0.62rem;
    font-size: 1.375rem;
}

.info {
    display: flex;
    align-items: baseline;
}

.info i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0.63rem;
    border: 1px solid var(--main-gray);
    border-radius: 999999px;
}

@media screen and (min-width: 1440px) {
    .filter {
        max-width: 1440px;
    }
}

@media screen and (max-width: 768px) {
    .info {
        padding: 0 1rem;
    }

    .filter {
        padding: 0 1rem;
    }

    .filter__btn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr 1fr;
        width: 100%;
    }

    .filter__btn a {
        padding: 1.5rem 1rem;
        display: flex;
        gap: 1rem;
        font-size: 0.875rem;
    }
}
