.hebergements {
    display: flex;
    gap: 2.5rem;
}

.hebergements__marseille {
    padding: 1.88rem;
    border-radius: 2rem;
    background-color: var(--main-gray);
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    flex-basis: 63%;
}

.hebergements__marseille__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1.88rem;
}

.hebergements__marseille__cards__carte {
    background-color: var(--main-bg-color);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hebergements__marsaille__cards__carte__img {
    border-radius: 1rem 1rem 0 0;
    height: 7.75rem;
    margin: 0.31rem;

    &.photo1 {
        background-image: url("/images/hebergements/fred-kleber.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo2 {
        background-image: url("/images/hebergements/febrian-zakaria.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo3 {
        background-image: url("/images/hebergements/reisetopia.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo4 {
        background-image: url("/images/hebergements/reisetopia.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo5 {
        background-image: url("/images/hebergements/marcus-loke.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo6 {
        background-image: url("/images/hebergements/nicate-lee.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.hebergements__marsaille__cards__carte__info {
    padding: 0.94rem;
}

.herbergement__populaire {
    flex-basis: 37%;
    padding: 1.88rem;
    border-radius: 2rem;
    background-color: var(--main-gray);
    gap: 1.88rem;
}

.herbergement__populaire__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.herbergement__populaire__cards {
    display: flex;
    flex-direction: column;
    gap: 1.88rem;
    margin-top: 1.88rem;
}

.herbergement__populaire__cards__carte {
    background-color: var(--main-bg-color);
    display: flex;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.hebergemeent__populaire__cards__carte__img {
    width: 7.6875rem;
    height: 9.125rem;
    margin: 0.31rem 0 0.31rem 0.31rem;
    border-radius: 1rem 0 0 1rem;

    &.photo7 {
        background-image: url("/images/hebergements/emile-guillemot.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo8 {
        background-image: url("/images/hebergements/aw-creative.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.photo9 {
        background-image: url("/images/hebergements/febrian-zakaria2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.herbergement__populaire__cards__carte__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.625rem 0.3125rem 0.3125rem 0.9375rem;
}
