.searchBar {
    display: flex;
    justify-content: flex-start;
    height: 3.0625rem;
    margin: 2.19rem 0;
    margin: 0 auto;
    margin-top: 2.19rem;
    margin-bottom: 2.19rem;
}

.searchbar__icon {
    height: 100%;
    width: 3rem;
    background-color: var(--main-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.searchbar__icon i {
    color: black;
    font-size: 1.375rem;
}

.searchBar__btn__i {
    display: none;
    border-radius: 1rem;
    box-shadow: 0px 7px 5px 0px var(--main-gray);
    transition: background-color 0.2s;
    transform: translateX(-0.5rem);
}

.searchBar__btn__i:hover {
    background-color: #237bff;
}

.searchBar__input {
    border: none;
    border: 1px solid var(--main-gray);
    padding: 0 1rem;
    background-color: var(--main-bg-color);
    width: 18rem;
}

.searchBar__input::placeholder {
    font-weight: 700;
    font-size: 1.375rem;
}

.searchBar__btn {
    padding: 0 1rem;
    background-color: var(--main-color);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: background-color 0.2s;
}

.searchBar__btn:hover {
    background-color: #237bff;
}

.searchBar__btn strong {
    color: white;
}

@media screen and (min-width: 1440px) {
    .searchBar {
        max-width: 1440px;
    }
}

@media screen and (max-width: 1024px) {
    .header-info {
        padding: 0 1rem;
    }

    .searchbar__icon {
        margin-left: 1.25rem;
    }

    .searchBar__btn__i {
        display: block;
        background-color: var(--main-color);
        padding: 0 1rem;
        margin-right: 1rem;
    }

    .searchBar__btn__i i {
        color: white;
    }

    .searchBar__btn {
        display: none;
    }
}
